@font-face {
    font-family: Gilroy-Bold;
    src: url(./font/Gilroy-Bold.woff2);
}
@font-face {
    font-family: Gilroy-Medium;
    src: url(./font/Gilroy-Medium.woff2);
}
@font-face {
    font-family: Gilroy-Regular;
    src: url(./font/Gilroy-Regular.woff2);
}
@font-face {
    font-family: Gilroy-Semibold;
    src: url(./font/Gilroy-Semibold.woff2);
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    scroll-behavior: smooth scroll;
    background: #fff;
    font-family: Gilroy-Regular;
}
img{
    display: block;
    max-width: 100%;
}
.header{
    margin-bottom: 64px;
    padding: 40px 0;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 34px;
}
.navigation a {
    width: 577px;
    height: 37px;
    margin-right: 34px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #000;
}
.navigation a:last-child {
    margin-right: 0; /* убираем отступ у последней ссылки */
}

.container{
    max-width: 1174px;
    margin: 0 auto;
}
.main{
    margin-bottom: 100px;
}
.mainContent{
    display: flex;
    gap: 73px;
    
}
.mainContent__leftSide{
    width: 556px;
}
.mainContent__leftSide h1{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    color: #000;
    margin-bottom: 20px;
}
.mainContent__leftSide p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #888;
    margin-bottom: 32px;
}
.mainContent__leftSide-btnList button{
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.2);
    background: #f25822;
    border-radius: 56px;
    padding: 16px 10px;
    width: 140px;
    height: 51px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.mainContent__leftSide-btnList .Button2 {
    background: none;
    color: #aaaaaa;
    box-shadow: none;
}

.Button2{
    background: none;
    border-radius: 0;
}

footer{
    margin-bottom: 100px;
}
.logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 48px;
    padding: 100px;
}